<div class="image-title-description">
    <div class="image" style="background-image: url({{ imageUrl }}); --border-color-hover: {{ color }}"></div>
    <div class="title {{ titleUppercase ? 'text-uppercase' }}">
        {{ title }}
    </div>
    <div class="description">
        {{ description|raw }}
    </div>
</div>