<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Genève Ville Vivante{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('partials/header/_header.html.twig') }}

        <main role="main">
            {% if headerBanner is defined and headerBanner is not null %}
                {{ component('header-banner', { title: headerBanner.title, imageUrl: headerBanner.imageUrl }) }}
            {% endif %}

            {% block body %}
            {% endblock %}
        </main>

        {{ include('partials/footer/_footer.html.twig') }}
    </body>
</html>
